.App {
    text-align: center;
    padding: 1em;
}

.App-header {
    font-size: 1.5em;
    font-weight: bold;
}

.App-intro {
    font-size: 1em;
    font-style: italic;
}

.oisc-cell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: #f8f8f2 1px solid;
    width: 5em;
    height: 3em;
    padding: 0.2em;
    margin: 0.2em; 
}

.oisc-cell-label {
    font-size: 0.8em;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    width: 40%;
}

.oisc-cell-source-pointer {
    background-color: #7e4a4a;
}

.oisc-value-input.oisc-cell-source-pointer {
    font-weight: bold;
}

.oisc-cell-target-pointer {
    background-color: #3f7152;
}

.oisc-value-input.oisc-cell-target-pointer {
    font-weight: bold;
}

.oisc-cell-source {
    background-color: #cb4d4d;
}

.oisc-cell-target {
    background-color: #2d9a56;
}

.oisc-cell-empty {
    opacity: 0.5;
}

.oisc-value-input {
    border-radius: 0;
    border: none;
    background-color: transparent;
    width: 70%;
    outline: none;
    color: #f8f8f2;
    font-size: 1em;
    padding: 0.1em;
    text-align: center;
}

.OISCMemory {
    width: 90%;
    padding: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}